.search-icon {
    background: url("https://img.icons8.com/material-outlined/512/search.png") no-repeat left;
    background-size: 25px;
    background-position: 7px 50%;
    background-color: white;
}
